$color-primary: #f8e5c5;
$color-primary-light: #fff6e6;

$grey: #d1d1d1;
$grey-dark: #6f6a61;
$grey-light: #c5c5c5;

$black: #303030;

p {
  font-family: Verdana, Geneva, sans-serif;
}
h3 {
  font-family: Verdana, Geneva, sans-serif;
}

button {
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: $color-primary;
  color: $black;
  font-size: 13px;
  font-weight: bold;
  &:hover {
    background-color: #fff3dd;
  }
}

.interface {
  background-color: $color-primary-light;
  position: absolute;
  height: 100%;
  > .logs {
    margin: 20px;
    height: 120px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid $grey;
    padding: 15px;
    overflow-y: scroll;
    > .message {
      color: $black;
      margin: 0;
      margin-bottom: 5px;

      &type {
        color: red;
      }
    }
  }

  > .inventory {
    margin: 20px;
    max-width: 600px;
    background-color: $color-primary;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $grey;
    height: 320px;

    > .inventory-slot {
      width: 50px;
      height: 50px;
      padding: 2px;
      display: inline-flex;
      flex-direction: column;

      margin: 3px;
      border-radius: 10px;
      border: 2px $black solid;
      background-color: $grey-dark;

      cursor: pointer;

      &:hover {
        border: 2px #b8a994 solid;
        background-color: $grey-light;
      }

      &.empty {
        background-color: #fff3dd;
        font-weight: bold;

        &:hover {
          border: 2px #706a61 solid;
        }
      }

      &.selected {
        background-color: white;
      }

      > .stack {
        font-size: 10px;
        height: 100%;
        position: relative;

        > p {
          position: absolute;
          margin: 0;
          width: 100%;
          height: 100%;
        }

        > .item-name {
          color: $black;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 13px;
        }

        > .quantity {
          display: flex;
          color: white;
          align-items: flex-end;
          text-align: right;
        }

        > .icon {
          border-radius: 10px;
        }
      }
    }
  }

  .item-menu {
    width: 100%;
    margin-top: 15px;
    height: 50px;
    > button {
      width: 110px;
      height: 25px;
    }
    > h3 {
      color: $black;
      text-align: center;
      margin: 0;
    }

    > .item-menu-text {
      width: 100%;
      text-align: center;
      > p {
        font-size: 13px;
        color: $black;
      }
    }
    > .item-menu-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  > .setup {
    margin-left: 20px;
    margin-right: 20px;

    > .buttons {
      margin-top: 20px;
      > button {
        width: 110px;
        height: 45px;
      }
    }

    .slidecontainer {
      width: 100%;

      > p {
        color: $black;
        margin-bottom: 5px;
        margin-left: 5px;
        font-size: 12px;
      }

      > .slider {
        -webkit-appearance: none;
        appearance: none;
        width: 50%;
        height: 15px;
        border-radius: 5px;
        background: white;
        outline: none;
        opacity: 0.7;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
        border: 1px solid $grey;
      }

      > .slider:hover {
        opacity: 1;
      }

      > .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: $color-primary;
        border: 1px solid $grey;
        cursor: pointer;
      }

      > .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: $color-primary;
        border: 1px solid $grey;
        cursor: pointer;
      }
    }
  }
}
